*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.external {
    font-size: 32px;
    background-color: red;
    color:white;
    text-align: center;
    font-weight:bold;
}

.Odd, .Odd2, .five {
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(214, 129, 163);
}

#Two{
     color:blue;
     font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    
}

.black {
    background-color: black;
    color:white
}

.yellow {
    background-color: yellow;
    color:black;
}